
body{
    background-color: $main;
}

.content-area {
    background-color: 	$main;
}

aside.widget-area {
    background-color: $sidebar;
}
/*--------------------------------------------------------------
# Site-Header
--------------------------------------------------------------*/
@import "site-header";

/*--------------------------------------------------------------
# Site-Footer
--------------------------------------------------------------*/

@import "site-footer";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
